<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE TODO LIST</title>
    <style>
        .completed{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
            <li v-if="!todos.length">Belum ada tugas coy hehe</li>
            <li v-for="(todo, index) in todos">
                <span v-bind:class="{'completed' : todo.done}">{{ todo.text }}</span>
                <button  v-on:click="deleteTodo(index)">X</button>
                <button v-on:click="toggleC(todo)">Selesai</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                newTodo : '',
                todos : [],
                done : false
            },
            methods : {
                addTodo : function() {
                    var newItem1 = this.newTodo;
                    if ( newItem1 ) {
                        this.todos.push({text: newItem1, done: false});
                        this.newTodo = '';
                    }
                },
                deleteTodo : function(id) {
                    this.todos.splice(id, 1);
                },
                toggleC : function(todo) {
                    todo.done = !todo.done;
                    console.log(todo.done);
                }
            }
        });
    </script>
</body>
</html>