<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE TODO LIST</title>
    <style>
        .completed{
            text-decoration: line-through;
        }

        body{
            font-family: sans-serif;
            margin: 10% 5%;
        }

        input:focus{
            outline: none;
        }

        #tag_temp_wrapper, .tag_temp, #tag_form{
            display: flex;
        }

        #tag_form{
            border: 1px solid black;
            height: 30px;
        }

        #tag_input{
            height: 25px;
            width: 100%;
            overflow: hidden;
        }

        #tag_lists{
            margin-top: 5px;
            list-style-type: none;
            padding-left: 5px;
            border: 1px solid black;
        }

        .hidden {
            display: none;
        }

        .active {
            background: #1a02a7;
            color: white;
        }

        .tag_temp{
            background: #1a02a7;
            color: white;
            padding: 2px 4px;
            margin: 2px;
        }

        .close_tag_temp{
            background: #d4e2f1;
            color: red;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 5px;
            margin-left: 5px;
            line-height: 12px;
        }
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
            <li v-if="!todos.length">Belum ada tugas coy hehe</li>
            <li v-for="(todo, index) in todos">
                <span v-bind:class="{'completed' : todo.done}">{{ todo.text }}</span>
                <button  v-on:click="deleteTodo(index)">X</button>
                <button v-on:click="toggleC(todo)">Selesai</button>
            </li>
        </ul>
    </div>

    <div id="app2">
        <h1>Vue JS Tag it</h1>
        
        <input type="text" name="tags" v-model="tag_temps">
        <br><br>

        <div id="tag_form">
            <span id="tag_temp_wrapper">
                <span class="tag_temp" v-for="tag_temp in tag_temps">
                    {{ tag_temp }}
                    <span class="close_tag_temp">X</span>
                </span>
            </span>

            <input type="text" id="tag_input" v-model="input_tag" v-on:keyup="showlists"
            v-on:keyup.down="filterDown" v-on:keyup.up="filterUp"
            v-on:keyup.enter="addTag" v-on:keyup.delete="removeTag">
        </div>

        <ul id="tag_lists" v-bind:class="{'hidden': isHidden}">
            <li class="tags" v-for="tag in filteredTags">{{ tag }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        var app1 = new Vue({
            el : '#app',
            data : {
                newTodo : '',
                todos : [],
                done : false
            },
            methods : {
                addTodo : function() {
                    var newItem1 = this.newTodo;
                    if ( newItem1 ) {
                        this.todos.push({text: newItem1, done: false});
                        this.newTodo = '';
                    }
                },
                deleteTodo : function(id) {
                    this.todos.splice(id, 1);
                },
                toggleC : function(todo) {
                    todo.done = !todo.done;
                }
            }
        });
        
        var app2 = new Vue({
            el : '#app2',
            data : {
                input_tag : '',
                tags : [
                    'html', 'php', 'css', 'vue', 'angular', 'swift', 'c++', 'react'
                ],
                isHidden : true,
                arrow_pos : 0,
                tag_temps : []
            },
            computed : {
                filteredTags : function() {
                    _self = this;
                    return this.tags.filter(function (text) {
                        _used = _self.tag_temps.indexOf(text) < 0;
                        console.log(_used);
                        return text.indexOf(_self.input_tag) >= 0 && _used;
                    });
                }
            },
            methods : {
                showlists : function () {
                    if (this.input_tag == '') {
                        this.isHidden = true;
                    }else{
                        this.isHidden = false;
                    }
                    // this.setHighlight(0);
                },
                filterDown : function() {
                    this.setHighlight(1);   
                },
                filterUp : function() {
                    this.setHighlight(-1); 
                },
                setHighlight : function (val) {
                    _firtsTag = true;
                    _tags = document.getElementsByClassName('tags');
                    for (let index = 0; index < _tags.length; index++) {
                        if (_tags[index].classList.contains('active')) {
                            _tags[index].classList.remove('active');
                            _firtsTag = false;
                        }
                    }
                    
                    this.arrow_pos += val;
                    
                    if (_firtsTag) this.arrow_pos = 0;
                    if (this.arrow_pos >= _tags.length) this.arrow_pos = _tags.length - 1;
                    if (this.arrow_pos < 0) this.arrow_pos = 0; 
                    _tags[this.arrow_pos].className += ' active';
                },
                addTag : function() {
                    _tag = document.getElementsByClassName('tags')[this.arrow_pos];
                    this.tag_temps.push(_tag.textContent);
                    this.input_tag = '';
                    this.isHidden = true;
                },
                removeTag : function() {
                    if (this.input_tag == '') this.tag_temps.splice(-1, 1);
                }
            }
        });
    </script>
</body>
</html>